<!DOCTYPE html>
<html>
<head>
    <title>SyncWide Configurator</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <div class="container">
        <pre class="logo">
.oooooo..o                                   oooooo   oooooo     oooo  o8o        .o8                                
d8P'    `Y8                                    `888.    `888.     .8'   `"'       "888                                
Y88bo.      oooo    ooo ooo. .oo.    .ooooo.    `888.   .8888.   .8'   oooo   .oooo888   .ooooo.                      
 `"Y8888o.   `88.  .8'  `888P"Y88b  d88' `"Y8    `888  .8'`888. .8'    `888  d88' `888  d88' `88b                     
     `"Y88b   `88..8'    888   888  888           `888.8'  `888.8'      888  888   888  888ooo888                     
oo     .d8P    `888'     888   888  888   .o8      `888'    `888'       888  888   888  888    .o                     
8""88888P'      .8'     o888o o888o `Y8bod8P'       `8'      `8'       o888o `Y8bod88P" `Y8bod8P'                     
            .o..P'                                                                                                    
            `Y8P'                                                                                                     
        </pre>
        <h1>SyncWide Configurator</h1>
        <form action="/install" method="GET">
            <div class="os-selection">
                <h2>Select Your Operating System</h2>
                <select name="os_type" required>
                    <option value="linux">Linux</option>
                    <option value="windows">Windows</option>
                    <option value="mac" disabled>Mac (Coming Soon)</option>
                </select>
            </div>

            <div class="install-options">
                <h2>What do you want to install?</h2>
                <select name="install_type" required>
                    <option value="webserver">Web Server</option>
                    <option value="language">Programming Languages</option>
                    <option value="database">Databases</option>
                </select>
            </div>

            <button type="submit">Install</button>
        </form>
    </div>
</body>
</html>
